{% extends 'base.html' %}

{% block head %}
<title>Your Time | Responder</title>
{% endblock %}

{% block body %}

<!-- Main -->
<div id="main">

	<!-- One -->
		<section id="one">
			<div class="inner">
				{% if not go_home %}
					<header class="major">
						<h2>Your emergency response time is {{ time }}.</h2>
					</header>
					<p>The closest emergency center is {{ destination }}. You are {{ distance }} away.</p>
				{% else %}
					<header class="major">
						<h2>Find the closest emergency center to you:</h2>
					</header>
				{% endif %}
			</div>
		</section>

	<!-- Two -->
		<section id="two" class="spotlights">
			<section>
				{% if not go_home %}
				<div style="float: left;">
					<iframe
						width="600" height="455"
						loading="lazy" allowfullscreen
						src="{{ src }}">
					</iframe>
				</div>
				{% else %}
				<div style="float: left;">
					<div style=" height:450px; width:600px; padding-top:105px; padding-left:140px;">
						Enter an address to see what route the emergency responders will take to get to your location.
					</div>
				</div>
				{% endif %}
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Emergency Services Near You</h3>
							<form action="/" method="POST">
								<div class="field half">
									<label for="address">Type in your address to locate emergency services near you</label>
									<div class="input address-box" style="margin-right: 20px;">
										<input size="50" type="text" name="address" id="address" />
									</div>
									<div class="input"><input type="submit"
															  class="address-button"
															  value="Let's Go!" /></div>
								</div>
								<div>{{ error_msg }}</div>
								<div style="padding-top: 10px">
									<p>You can also <a style="border-bottom: 2px dotted;" onclick="getLocation()">use your current location</a></p>
								</div>
							</form>
						</header>
						{% if not go_home %}
						<p>Here is the path that the emergency responders will take to get to you. You can expect them
							to arrive in {{ time }}. If you are assisting a senior, click the button below to see what
							you can do to help while waiting.
						</p>
						{% endif %}
						<ul class="actions">
							<li><a href="education" class="button">What to do right now</a></li>
						</ul>
					</div>
				</div>
			</section>

			{% if not go_home %}
			<section>
				<div style="float: left;">
					<div id="county_container" style="width: 600; height: 455;"> </div>
<!--					<iframe-->
<!--						width="600" height="455"-->
<!--						loading="lazy" allowfullscreen-->
<!--						src="{{ county_src }}">-->
<!--					</iframe>-->
				</div>

				<a href="education" class="image">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46635183.310992114!2d-161.22766075877882!3d39.97949022255886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbf6ff5751cab%3A0x4b8cc819f8c15e0e!2sEzy%20Learning!5e0!3m2!1sen!2sus!4v1625962614311!5m2!1sen!2sus" width="600" height="455" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Local Emergency Services Information</h3>
						</header>
						<h4>Refer to the map for</h4>
						<p>Five closest hospitals in _______</p>
						<p>Five close fire Stations in _______</p>
						<ul class="actions">
							<li><a href="education" class="button">Learn more</a></li>
						</ul>
					</div>
				</div>
			</section>
	{% endif %}

</div>
{% if not go_home %}
<script type="text/javascript">
	function initialize_map() {
        var mapDiv = document.getElementById('county_container');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 28.7041, lng: -77.1025},
            zoom: 10
        });
        var markerlocations = {{markers|tojson}};
        console.log(markerlocations);

		for(i = 0;  i < markerlocations.length; i++) {
			var marker = new google.maps.Marker({
					position: new google.maps.LatLng(markerlocations[i][0], markerlocations[i][1]),
					map: map,
					icon:  markerlocations[i][3]
			});
			var address = '<div><p><b>markerlocations[i][2]</b></p></div>';
			var infowindow = new google.maps.InfoWindow({
			  content: address
			});
			marker.addListener('click', function() {
			  infowindow.open(map, marker);
			});
		}
    }
</script>

<script>
	function getLocation() {
	  if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(passPosition);
	  } else {
	  }
	}

	function passPosition(position) {
		var dat = [position.coords.latitude, position.coords.longitude];

		$.ajax({
			type: 'POST',
			url: "/services",
			data: JSON.stringify(dat),
			contentType: 'application/json;charset=UTF-8',
			success: function(data){
				window.location.href = "/services?" + data.address;
			}
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx2lGCeaLjMTNblROj3I4iNL8DWi45jvk&callback=initialize_map"></script>
{% endif %}
{% endblock %}
